*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    overflow: hidden;
} 

button.accordion {
    background: none;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
 }
 
 .accordion .active,
 button.accordion:hover{
    background: #ddd;
 }
 .panel {
    padding: 0 18px;
    display: none;
 }
 .panel .show {
    display: block;
 }

.deals{
    text-decoration: none;
    color: #292b2c;
}

.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); 
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1; 
	pointer-events: auto; 
    overflow-y: auto; 
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.nav{
    width: 1440px;
    height: 55px;
    background-color: #333333;
}

.yablochko{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.stopka{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
    top: 15px;
}

.ops{
    text-decoration: none;
    font-family: sans-serif;
    color: #D6D6D6;
}

.ops:hover{
    color: rgba(255, 255, 255, 0.925);
    transition: .4s ease;
}

.block{
    width: 1440px;
    height: 3000px;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;

}



.pro13{
    position: absolute;
    margin-left: 230px;
    margin-top: 10px;
    font-size: 21px;
    font-family: sans-serif;
}

.pro-13{
    text-decoration: none;
    color: #1F1F1F;
}

.top-second{
    position: absolute;
    margin-left: 900px;
    margin-top: 12px;
    font-size: 17px;
    font-family: sans-serif;
    color: #1D1D1F;
}

.line{
    position: absolute;
    width: 1440px;
    margin-top: 50px;
    border: 1px solid #D6D6D6;
}

.commercial{
    position: absolute;
    margin-top: 70px;
    margin-left: 145px;
    width: 1200px;
    height: 140px;
    background-color: #FBFBFD;
    border-radius: 20px;
}

.opisanie{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    font-size: large;
    font-family: sans-serif;
}

.deals{
    position: absolute;
    margin-top: 83px;
    left:  60px;
    font-size: medium;
    font-family: sans-serif;
    text-decoration: none;
    color: #0569CD;
}

.at{
    position: absolute;
    margin-top: 20px;
    left: 400px;
    width: 80px;
    height: 80px;
    object-fit: contain;

}

.gtp{
    position: absolute;
    margin-top: 83px;
    left: 370px;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

.t-mobile{
    position: absolute;
    left: 670px;
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.gtp-2{
    position: absolute;
    margin-top: 83px;
    left: 650px;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

.verizon{
    position: absolute;
    left: 950px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.gtp-3{
    position: absolute;
    margin-top: 83px;
    left: 930px;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

.gr-iph{
    margin-left: -440px;
}

.svg-box{
    position: absolute;
    margin-left: -379px;
    width: 32px;
    height: 32px;
    margin-top: 600px;
    
}

.svg-box-two{
    position: absolute;
    margin-left: -109px;
    width: 30px;
    height: 30px;
    margin-top: 600px;
}

.svg-bottom{
    position: absolute;
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-left: 267px;
    width: 230px;
    color: #1D1D1F;
}

.svg-bottom-second{
    position: absolute;
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    margin-left: 525px;
    width: 230px;
    color: #1D1D1F;
}

.new{
    position: relative;
    top: -480px;
    left: 160px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #CA662A;
    font-size: 17px;
}

.buying{
    position: absolute;
    position: sticky;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -485px;
    font-size: 35px;
    margin-left: 565px;
}

.buying-bottom{
    position: absolute;
    position: sticky;
    margin-left: 683px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

.see{
    position: absolute;
    position: sticky;
    margin-left: 433px;
    padding: 5px;
    text-decoration: none;
    color: #0569CD;
    font-family: sans-serif;
    font-size: 15px;
}

.choose{
    position: absolute;
    margin-left: 860px;
}

.choose-2{
    text-decoration: none;
    color: #000000b0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.question{
    position: absolute;
    margin-left: 140px;
    text-decoration: none;
    color: #0569CD;
    font-size: 15px;
    font-family: sans-serif;
}

.container1{
    position: absolute;
    width: 450px;
    height: 110px;
    margin-left: 140px;
    margin-top: 40px;
    border-radius: 7px;
    background-color: #ffffff;
    border-color: #D2D2D7;
    cursor: pointer;
}


.box1{
    margin-left: -300px;
    font-family: sans-serif;
    font-size: medium;
}
.box2{
    margin-left: -310px;
    margin-top: 4px;
    font-family: sans-serif;
    font-size: 13px;
}

.box3{
    position: absolute;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -55px;
    margin-left: 340px;
}

.box4{
    position: absolute;
    margin-left: 220px;
    margin-top: -35px;
    font-size: 15px;
    
}

.box5{
    position: absolute;
    margin-left: 330px;
    font-family: sans-serif;
    margin-top: -14px;
    font-size: 15px;

}

.container2{
    position: absolute;
    width: 450px;
    height: 110px;
    margin-left: 140px;
    margin-top: 150px;
    border-radius: 7px;
    background-color: #ffffff;
    border-color: #D2D2D7;
    cursor: pointer;
}

.box6{

    margin-left: -270px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: medium;
}

.box7{
    margin-left: -310px;
    margin-top: 4px;
    font-family: sans-serif;
    font-size: 13px;
}

.box8{
    position: absolute;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: -55px;
    margin-left: 340px;
}

.box9{
    position: absolute;
    margin-left: 220px;
    margin-top: -35px;
    font-size: 15px;
}

.box10{
    position: absolute;
    margin-left: 330px;
    font-family: sans-serif;
    margin-top: -14px;
    font-size: 15px;
}

.linning{
    border: 1px solid #D2D2D7;
    width: 450px;
    margin-left: 735px;
    margin-top: 270px;
}

.cpc{
    font-family: sans-serif;
    font-size: 17px;
    margin-left: 480px;
}

.cont3{
    width: 230px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 550px;
    cursor: pointer;
}

.greeni{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;

}

.cont4{
    position: absolute;
    width: 230px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 0px;
    cursor: pointer;
}

.silvery{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;

}

.cont5{
    position: absolute;
    width: 230px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: -230px;
    margin-top: 120px;
    cursor: pointer;
}

.goldy{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}

.cont6{
    position: absolute;
    width: 230px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 120px;
    cursor: pointer;
}

.graphityy{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}

.cont7{
    position: absolute;
    width: 230px;
    height: 110px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: -230px;
    margin-top: 250px;
    cursor: pointer;
}

.sierra{
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}